body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #242423;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
}

.nav-link{
    margin: 5px;
    color: rgb(255, 255, 255) !important;
    
}

ul{
    list-style-type: none;
}

.nav-link:hover, .nav-link:before, .active:before, .nav-link.active{
    margin: 5px;
    color: rgb(226, 226, 226) !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }


.btn-join{
    background-color: #F5CB5C;
    border-color: #F5CB5C;
    color: #333;
    font-weight: bold;
    min-width: 100%;
    max-width: 100%;
}
.btn-join:hover{
    background-color: rgb(255, 197, 36);
    border-color: rgb(255, 202, 55);
    color: #333;
    font-weight: bold;
    min-width: 100%;
    max-width: 100%;
}

.btn-add{
    background-color: #F5CB5C;
    border-color: #F5CB5C;
    color: #333;
    font-weight: bold;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}
.btn-add:hover{
    background-color: rgb(255, 197, 36);
    border-color: rgb(255, 202, 55);
    color: #333;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.514) 15px 15px 10px;
    translate: -3px -3px;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

.serverdesc1{
    background-color: #333;
    border-radius: 5px;
    color: white;
    border: none;
    resize: none;
    min-width: 100%;
}


.list-item{
    background-color: #333;
    border-radius: 5px;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu, a.dropdown-item:focus, a.dropdown-item{
    background-color: #333;
    color: white;
}

div.dropdown-divider{
    border-color: #111;
}

a.dropdown-item:hover{
    background-color: #222;
    color: white;
}

.list-item:hover{
    background-color: #222;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.514) 15px 15px 10px;
    translate: -5px -5px;
    border-radius: 5px;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
}


i.fa-heart{
    background: linear-gradient(-45deg, #F5CB5C, rgb(255, 195, 30), #ff3434, #ff2626);
    background-size: 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 2s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.list-inline-item{
    background-color: #F5CB5C;
    color: #333;
    padding: 3px;
    font-weight: bold;
}